
#team0{
    text-align:center; width: 427px; margin-left:400px
}
#team0_1{
    width: 180px; height: 100px;
}

#small{
    font-size:32px; margin-left:22px; margin-top: 27px;
}
#small1{
    font-size:32px; margin-left:22px; margin-top: 27px;
}
@media(max-width: 767px){
    #team1{
        margin-left: 40px;
    }
    #team{
        margin-top: 40px;
    }
    #countries{
        margin-left:90px;
    }
    #team0{
        text-align:center; width: 256px; margin-left:26px;
    }
    #team0_1{
        width: 140px; height: 90px; margin-left: 50px;
    }
    #footer{
        margin-top: 400px;
    }
    #small{
        font-size:28px; margin-left: 46px;
    }
    #small1{
        font-size:32px; margin-left: 88px;
    }
    
}
