
#team0{
    text-align:center; width: 287px; margin-left:400px
}
#team0_1{
    width: 180px; height: 100px;
}
@media(max-width: 767px){
    #team1{
        margin-left: 40px;
    }
    #team{
        margin-top: 40px;
   
    }
    #team0{
        text-align:center; width: 256px; margin-left:26px;
    }
    #team0_1{
        width: 140px; height: 90px;
    }
}
